body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #3498db;
    transition: transform 1s ease-out;
}

button {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ddd;
}